body *{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 980px;
	margin: auto;
}

.top-menu ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.top-menu ul li {
	padding: 10px;
	transition: all;
	transition-duration: .7s;
	display: block;
	width: 150px;
	height: 20px;
}

.top-menu a {
	display: block;
	width: 150px;
	height: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	padding-top: 5px;

}

.top-menu li:hover {
	background: #ababab;
}

.main {
	width: 100%;
	height: 90vh;
	background-image: url(../img/top-background.jpg);
	background-size: cover;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1rem;
	font-weight: normal;
}

.content-top {
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.main-form {
	width: 250px;
	height: 300px;
	border: 2px solid black;
	background-color: #a9a6a6;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	margin-top: 30px;
}

.main-form>h3 {
	font-weight: normal;
}

.main-form>h3, input {
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-form input {
	width: 65%;
	height: 25px;
}


.feature {
	width: 100%;
	background-image: url(../img/about-us2.png);
	background-size: cover;
}
 
.feature * {
	color:#ececec;
}

.feature h4 {
	text-decoration: underline;
}

.reviews {
	background-color: gray;
}

.reason img {
	width: 75px;
}

footer {
	background-color: #585858;
}