html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

:root {
	font-family: 'Open Sans', sans-serif;
}

body {
	max-width: 980px;
	margin: auto;
}

header nav ul {
	display: flex;
	justify-content: center;
}

header nav ul li {
	list-style: none;
}

header nav ul li a { 
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 8vh;
	transition: all;
	transition-duration: .7s;
}

header nav ul li a:hover {
	background-color: #E6E6E6;
}

.main {
	background-image: url(../img/top-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 92vh;
	display: flex;
	align-items: center;
}

.content-top {
	max-width: 60%;
	margin-left: auto;
	text-align: center;
	margin-right: 40px;
}

.title {
	margin: 50px 0;
}

.main-form {
	width: 250px;
	border: 2px solid #848484;
	background-color: #ABA8A8;
	margin: auto;
	height: 300px;
}

.main-form p {
	margin-top: 35px;
	font-weight: 600;

}

.main-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-form form input {
	width: 70%;
	height: 20px;
	margin-top: 20px;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
}

/* end of the HEADER */